@{
    ViewData["Title"] = "External Api";
}

<div class="">
    <h1 class="display-4">
        External API
    </h1>
    <p>Jarvis needs to 'talk' to many things, some inside the network and some outside to the greater internet.</p>
    <p>This API endpoint is available externally to the greater internet, therefore thought and consideration needs to be taken to ensure it is 'safe'.</p>
    <p>These are the current endpoint methods available:</p>
    @await Html.PartialAsync("_ControllerActions")
</div>
