@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4">
        What's it all about then?
    </h1>
    <p>J.A.R.V.I.S - Just Another Rather Very Intelligent System is the Marvel Cinematic Universes answer to Edwin Jarvis, manservant and butler to the Stark family.</p>
    <p>To me though, it's more of an idea, a concept.</p>
    <p>I think that a good integrated system is the sum of it's parts and the application of them all together.</p>
    <p>In a nutshell it started when I wanted to record the temperature in the garden so when I got up in the morning I already knew the likelyhood that I'd need to defrost the car.<br />
    And yes, I know I could have 'just looked out the window' but as soon as I started thinking about potentially having a small screen on the wall showing the obligatory time and the lowest and highest temperatures along with temperature alerts, the natural next point was 'well, what else can I show on this screen?', and that's where it all started really.</p>
    <p>So, Jarvis to me will be a core set of systems, centralised around our home and family life.<br />
    It should be able to tell us information about the home and our family life in it (door alerts, calendar reminders etc).</p>
    <p>But to do all this, it needs to have a centralised point where the information is passed around, which is what this is.</p>
    <p></p>
    <p>Jarvis's Brain</p>

</div>
